.p-toolbar.p-component,
.p-datatable-header {
  border: 0;
}

.p-datatable-header {
  padding: 0.5rem 0;
}

audio::-webkit-media-controls-enclosure {
  overflow: hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}

/* TO REMOVE AUDIO CONTROLS */
audio::-webkit-media-controls-mute-button {
  display: none !important;
}

audio::-webkit-media-controls-volume-slider {
  display: none !important;
}

th.p-selection-column {
  background-color: #ffa500;
}

.p-datatable .p-column-header-content {
  justify-content: center;
}

.p-datatable {
  padding: 10px !important;
}

ul.p-dropdown-items {
  padding: 0;
  margin: 0;
}

.search-bar {
  width: 15rem;
  border-radius: 4px;
}

.custom-button {
  background-color: #ff725e; /* Orange button */
  border: none;
  color: #fff; /* White text */
}

.custom-button:hover {
  background-color: #e55e50; /* Darker orange on hover */
}
