.user-dashboard {
  display: flex;
  height: 100vh;
  background-color: #f0f0f0 !important;
}

.content {
  padding-top: 56px; /* Adjust this value to match the height of your navbar */
  flex: 1; /* Ensure the content takes up the remaining space */
}

@media (max-width: 768px) {
}
