.user-dashboard {
  display: flex;
  height: 100vh;
}

.content {
  padding-top: 60px; /* Adjust this value to match the height of your navbar */
  flex: 1; /* Ensure the content takes up the remaining space */
}

@media (max-width: 768px) {
}
